.product-list--wrapper {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
    max-width: 940px;
}

.product-list--item {
    list-style: none;
    box-sizing: border-box;
    width: 25%;
    margin-bottom: 20px;
    padding-right: 8px;
    padding-left: 8px;
}
